<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Kakao Login Test</h1>
	<span th:if="${userId==null}">
		<a href="https://kauth.kakao.com/oauth/authorize?client_id=d1953844ca98334a290a96db5aed5007&redirect_uri=http://localhost:8080/login&response_type=code">
			<img src = "kakaologin\src\main\resources\static\img\kakao_login_medium_narrow.png" style="height: 30px; width: 100px; background-color: gold;">
		</a>
	</span>
	<span th:if="${userId!=null}">
		<form name="logout" action="http://localhost:8080/logout">
			<input type="submit" value="로그아웃">
		</form>
	</span>
</body>
</html>